*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: auto 90% auto;
    background-color: rgb(184, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}
header{
    padding: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.492)), rgba(0, 0, 0, 0.563) url('../imgs/background.avif');
    background-position: left center;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 5px black;
    grid-column: 1/4;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.461);
}
main{
    grid-column: 2/3;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label{
    font-size: 1.2em;
}
select{
    width: 100%;
    margin-bottom: 10px;
}
select option{
    font-size: 1.3em;
}
button{
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgb(175, 43, 43);
    background-color:rgb(192, 70, 70) ;
    color: white;
    text-shadow: 1px 1px  black;
    font-size: 1em;
}
button:active{
    background-color:rgba(234, 69, 69, 0.529) ;
}
div.borda{
   padding: 10px;
   background-color: rgba(226, 82, 82, 0.529);
   margin-bottom: 10px;
   border-radius: 8px;
   border: 2px solid rgb(175, 43, 43);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
   transition-duration: 0.5s;
}
div.borda:active{
  border-left:10px solid rgb(175, 43, 43);
}