*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: auto 90% auto;
    background-color: rgb(184, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
}
header{
    padding: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.492)), rgba(0, 0, 0, 0.563) url('../imgs/background.avif');
    background-position: left center;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 5px black;
    grid-column: 1/4;
}
main{
    grid-column: 2/3;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.borda{
   padding: 10px;
   background-color: rgba(226, 82, 82, 0.529);
   margin-bottom: 10px;
   border-radius: 8px;
   border: 1px solid rgb(175, 43, 43);
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}
div.borda:hover{
  
}